.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.films-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 0;
  list-style: none;
}
.films-item {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
}
.films-item:hover {
  box-shadow: 0 0 7px 1px #fff;
}
.films-pic {
  width: 280px;
  height: 350px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.films-overview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.film-genre-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}